// Default center vertical align
@mixin vertical-align($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: center;
  }

// Default 1.5ems away from all edges
@mixin content-margin($top: 1.5em) {
  margin-top: $top;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

// Color variables
$background: rgb(214, 139, 82);

// Font variables
$main-font: Source Pro Sans, sans-serif;

/* CSS for mobile views and above */
#main-header {
  @include vertical-align($justify-content: flex-start);
  background-color: $background;
  height: 520px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  min-width: 430px;
}

.header-img {
  padding-top: 120px;
  margin: none;
}

.main-header-username {
  font-family: $main-font;
  font-weight: 300;
  margin: 0;
}

.username-first-bold {
  font-weight: 600;
}

/* CSS rules that target Desktop screens (min width 1024px) */
@media only screen and (min-width: 1024px) {
  #main-header {
    @include vertical-align;
    @include content-margin($top: 200px);
    width: 33.3%;
    height:400px;
  }

  .header-img {
    padding-top: 1.5em;
  }
}