/* CSS for mobile views and above */
#main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(214, 139, 82);
  height: 520px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  min-width: 430px;
}

.header-img {
  padding-top: 120px;
  margin: none;
}

.main-header-username {
  font-family: Source Pro Sans, sans-serif;
  font-weight: 300;
  margin: 0;
}

.username-first-bold {
  font-weight: 600;
}

/* CSS rules that target Desktop screens (min width 1024px) */
@media only screen and (min-width: 1024px) {
  #main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 33.3%;
    height: 400px;
  }
  .header-img {
    padding-top: 0em;
  }
}
