/* CSS for mobile views and above */
#main-header {
  height: 520px;
  background-color: rgb(214, 139, 82);
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 430px;
}

.header-img {
  padding-top: 120px;
  margin: none;
  background-image: url("");
}

.main-header-username {
  font-family: Source Pro Sans, sans-serif;
  font-weight: 300;
  margin: 0;
}

.username-first-bold {
  font-weight: 600;
}

/* CSS rules that target Desktop screens (min width 1024px) */
@media only screen and (min-width: 1024px) {
  #main-header {
    width: 33.3%;
    margin-left: 2em;
    margin-top: 200px;
    height:400px;
  }

  .header-img {
    padding-top: 40px;
  }
}