/* .new-tweet {
  font-family: "Source Sans 3", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
} */

.tweet-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 600;
}

#tweet-text {
  background: none;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  font-size: 0.8em;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.tweet-counter {
  font-family: Bungee, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-style: solid;
  border-top-color:#545149;
  border-top-width: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}