/* CSS for mobile views and above */
#tweet-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 600;
}

#tweet-text {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: none;
  padding-right: none;
  color: #545149;
  background: none;
  border: none;
  outline: none;
  resize: none;
  font-size: 0.8em;
  height: 50px;
  font-weight: 600;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.tweet-counter {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: none;
  padding-right: none;
  border-top-color: #545149;
  font-family: Bungee, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-style: solid;
  border-top-width: 4px;
}

.validator {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: none;
  padding-right: none;
  color: #FFFFFF;
  background-color: rgb(225, 17, 10);
}

/* CSS rules that target Desktop screens (min width 1024px) */
@media only screen and (min-width: 1024px) {
  .container {
    margin-top: none;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 130px;
  }
}
