/* CSS for mobile views and above */
article {
  border-color: #545149;
  border-style: solid;
  padding: 0.5em;
  border-width: 4px;
  min-width: 430px;
}
article .shadow:hover {
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
}
article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 90px;
  margin: 0;
}
article .tweet-text {
  padding-left: 0.5em;
  padding-right: 0.5em;
  word-break: break-word;
}

.tweet-user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-user-name {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: 300;
}

p .username-handle {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #4056A1;
  font-weight: 600;
  opacity: 0.3;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-color: #545149;
  border-top-style: solid;
  border-top-width: 4px;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
}

.all-tweets-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80px;
}

i.fa-solid {
  color: #4056A1;
}

i.fa-solid:hover {
  color: rgb(220, 195, 55);
}
